<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzst.modi.app.cDao.HumanVehicleAssociationDao">

    <select id="getConfig" resultType="com.xzst.modi.app.dModel.p2cgl.HVAConfigModel" >
        SELECT ID,
                   OPRATORNO,
                   TO_CHAR(OPERTETIME, 'yyyy-mm-dd hh24:mi:ss') AS OPERTETIME,
                   RESULTSETID,
                   RESULTSETNAME

          FROM MODI_R2CGL_CONFIG where isdel='0'
    </select>

    <select id="getConfigColById" resultType="com.xzst.modi.app.dModel.p2cgl.HVAConfigColModel" >
       SELECT CONFIGID, PAGEBYNAME, PAGEBYENAME, ENAME, CNAME, ORDERID
                FROM MODI_R2CGL_CONFIG_COL  where  CONFIGID=#{configId,jdbcType=VARCHAR}
    </select>

    <select id="getConfigIdFromSeq" resultType="java.lang.String">
      SELECT MODI_R2CGL_CONFIG_ID.NEXTVAL FROM  dual
    </select>

    <select id="getConfigIdByResultSetId" resultType="java.lang.String" parameterType="java.lang.String">

        SELECT t.id FROM modi_r2cgl_config  t WHERE t.resultsetid=#{resultSetId,jdbcType=VARCHAR} and t.isdel='0'
    </select>

    <select id="getConfigColsByConfigId" parameterType="java.lang.String">
        SELECT t.pagebyename,t.ename FROM modi_r2cgl_config_col t WHERE t.configid=#{configId,jdbcType=VARCHAR} ORDER BY t.orderid ;

    </select>

    <select id="getFugitiveByPersonId" parameterType="java.lang.String" resultType="java.util.Map">

        SELECT * FROM  modi_r2cgl_fugitive t WHERE t.fugitiveid=#{personId,jdbcType=VARCHAR}
    </select>


    <insert id="addConfig" parameterType="com.xzst.modi.app.dModel.p2cgl.HVAConfigModel">

        INSERT INTO MODI_R2CGL_CONFIG
        (ID,                       OPRATORNO,                   OPERTETIME,     RESULTSETID,                      RESULTSETNAME,                ISDEL) values (
        #{id,jdbcType=VARCHAR},   #{opratorNo,jdbcType=VARCHAR},sysdate,        #{resultSetId,jdbcType=VARCHAR},#{resultSetName,jdbcType=VARCHAR},0)

    </insert>


    <insert id="addConfigCol" parameterType="com.xzst.modi.app.dModel.p2cgl.HVAConfigColModel">

        INSERT INTO MODI_R2CGL_CONFIG_col
        (CONFIGID,                        PAGEBYNAME,                   PAGEBYENAME,                      ENAME,                      CNAME,      ORDERID) values (
         #{configId,jdbcType=VARCHAR}, #{pagebyname,jdbcType=VARCHAR},#{pagebyename,jdbcType=VARCHAR}, #{ename,jdbcType=VARCHAR},     #{cname,jdbcType=VARCHAR},  #{orderid,jdbcType=VARCHAR})

    </insert>

    <update id="delConfigById" parameterType="java.lang.String">
        UPDATE MODI_R2CGL_CONFIG t SET t.isdel='1' WHERE t.id=#{configId,jdbcType=VARCHAR}
    </update>



    <insert id="addFugitive" parameterType="com.xzst.modi.app.dModel.p2cgl.FugitiveModel">
        INSERT INTO MODI_R2CGL_FUGITIVE
          (ID,                              FUGITIVENO,                    FUGITIVEID,                   FUGITIVENAME,                   ISARCHIVED,           )
        VALUES
          (modi_r2cgl_fugitive_seq.nextval,#{fugitiveNo,jdbcType=VARCHAR},#{fugitiveId,jdbcType=VARCHAR},#{fugitiveName,jdbcType=VARCHAR},      '0' ,         )
    </insert>

    <insert id="addFugitiveRelationShiper" parameterType="com.xzst.modi.app.dModel.p2cgl.FugitiveRelationShiperModel">
        INSERT INTO MODI_R2CGL_FUGITIVE_RSER
              (ID,                                  FUGITIVEID,                     RELATIONSHIP,                       RELATIONSHIPERID,                 TRAILDESC,                        TRAILTYPE,                    TRAILTIME,                      LAT,                           LON)
            VALUES
              (MODI_R2CGL_FUGITIVE_RSER_SEQ.NEXTVAL,#{fugitiveId,jdbcType=VARCHAR},#{relationShip,jdbcType=VARCHAR},#{relationShiperId,jdbcType=VARCHAR},#{trailDesc,jdbcType=VARCHAR}, #{trailType,jdbcType=VARCHAR}, #{trailTime,jdbcType=VARCHAR},#{lat,jdbcType=VARCHAR}, #{lon,jdbcType=VARCHAR},                     )
    </insert>


    <select id="getFugitiveIdsByDate" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT DISTINCT T.FUGITIVEID
              FROM MODI_R2CGL_FUGITIVE_RSER T
             WHERE TO_CHAR(T.INSERTTIME, 'yyyy-MM-dd') = #{date,jdbcType=VARCHAR}
    </select>

    <select id="getFugitiveModels" parameterType="java.util.List" resultType="com.xzst.modi.app.dModel.p2cgl.FugitiveModel">

        SELECT t.id           as "id",
               T.FUGITIVENO   AS "fugitiveNo",
               T.FUGITIVEID   AS "fugitiveId",
               T.FUGITIVENAME AS "fugitiveName",
               T.ISARCHIVED   AS "isArchived",
               T.ARCHIVEDREASON AS "archivedReason"
          FROM MODI_R2CGL_FUGITIVE T
          WHERE  T.FUGITIVEID IN
          <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
              #{item,jdbcType=VARCHAR}
          </foreach>
         AND t.ISARCHIVED='0'

    </select>

    <select id="getFugitiveRelationShiperByFugitiveId" resultType="com.xzst.modi.app.dModel.p2cgl.FugitiveRelationShiperModel">

        SELECT    ID               AS "id",
                   FUGITIVEID       AS "fugitiveId",
                   RELATIONSHIP     AS "relationShip",
                   RELATIONSHIPERID AS "relationShiperId",
                   TRAILDESC        AS "trailDesc",
                   TRAILTYPE        AS "trailType",
                   TRAILTIME        AS "trailTime",
                   LAT              AS "lat",
                   LON              AS "lon"
          FROM MODI_R2CGL_FUGITIVE_RSER T
          where t.FUGITIVEID=#{fugitiveId,jdbcType=VARCHAR}
          and to_char(t.inserttime,'yyyy-MM-dd')=#{date,jdbcType=VARCHAR}

    </select>


    <select id="getHvaTop20" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT M.FUGITIVEID, N.FUGITIVENAME, M.COUNT_V
            FROM
            (SELECT T.FUGITIVEID, COUNT(*) AS COUNT_V
            FROM MODI_R2CGL_FUGITIVE_RSER T
            WHERE to_char(t.inserttime,'yyyy-MM-dd')=#{date,jdbcType=VARCHAR}
            GROUP BY T.FUGITIVEID
            ORDER BY COUNT_V DESC) M,
            MODI_R2CGL_FUGITIVE N
            WHERE M.FUGITIVEID = N.FUGITIVEID
            AND ROWNUM <![CDATA[  <= ]]> 20
    </select>

    <select id="getHvaTop20DetailByFugitiveId" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT T.RELATIONSHIP, COUNT(*) AS COUNT_D
          FROM MODI_R2CGL_FUGITIVE_RSER T
         WHERE TO_CHAR(T.INSERTTIME, 'yyyy-MM-dd') =#{date,jdbcType=VARCHAR}
           AND T.FUGITIVEID =#{fugitiveId,jdbcType=VARCHAR}
         GROUP BY T.RELATIONSHIP
         ORDER BY COUNT_D

    </select>

    <update id="archivedFugitive" parameterType="java.lang.String">
        UPDATE MODI_R2CGL_FUGITIVE t SET t.ISARCHIVED='1', t.ARCHIVEDREASON=#{archivedReason,jdbcType=VARCHAR},t.ARCHIVEDOPERTATORNO=#{archivedOpertatorNo,jdbcType=VARCHAR}  WHERE t.id=#{id,jdbcType=VARCHAR}
    </update>


</mapper>