<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzst.modi.app.cDao.KafkaDao">

    <select id="getAllConfigedResultSetIds" resultType="java.util.Map" >
      SELECT t.resultsetid, SUBSTR('人车关联',0) AS TYPE FROM modi_r2cgl_config t WHERE t.isdel='0'
    </select>


</mapper>