<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzst.modi.app.cDao.OtherDataSourceTestDao">

    <select id="getTest" resultType="java.util.Map" >
      SELECT  *  FROM ccps.T_AJJG_SJL t
    </select>


</mapper>